AZURE_OPENAI_API_KEY=your-key
AZURE_OPENAI_ENDPOINT=your-endpoint
AZURE_OPENAI_API_VERSION=2024-10-21

OPENAI_LLM=gpt-5.4
OPENAI_MLM=gpt-5.4-mini
OPENAI_SLM=gpt-5-nano
OPENAI_TRANSCRIBE=gpt-4o-mini-transcribe
AZURE_EMBEDDING=embed-v-4-0